@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: black;
  color: white
}

.custom-button:hover {
  color: gold !important;
}

.custom-bg:hover {
  color: black !important;
  background-color: gold !important;
}